version: "3.9"

services:
  backend:
    build: .
    container_name: proyecto_transacciones_backend
    ports:
      - "8080:8080"
    depends_on:
      - redis
    volumes:
      - .:/app
    environment:
      - REDIS_HOST=localhost
      - REDIS_PORT=6379

  redis:
    image: "redis:7"
    container_name: redis-server
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  redis_data:
